langgraph==0.5.4
langchain[google-genai]
langchain_mcp_adapters
langchain-elasticsearch
langchain-community
langchain-openai
lark
fastapi
uvicorn
copilotkit==0.1.58
elasticsearch[async]
google-maps-places>=0.2.2
google-maps-routing>=0.6.16
haversine
numpy